Package: chonos-ddnsmng
Version: 1.6.1
Priority:
Architecture: all
Essential:
Depends: curl, bind9-dnsutils
Pre-depends: chonos-log
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: Implements a Dynamic DNS Client for ChonNet.
