Package: chonos-ddnsmng
Version: 26.06.01
Priority:
Architecture: all
Essential:
Depends: curl, bind9-dnsutils
Pre-depends: chonos-log
Suggests:
Installed-Size:
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Homepage: https://github.com/chon-group/dpkg-chonos-ddnsmng
Conflicts:
Replaces:
Provides:
Description: Implements a Dynamic DNS Client for ChonNet.
